body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.headname{
  margin: 0 auto 0 auto;
  padding: 10px;
  color: #66BFBF;
  font-weight: 800;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-right:20px;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border-style: dotted;
  border-width: 8px;
  width: 10%;
  border-top: 1px;
  border-color: #B2B2B2;
  background-color:inherit;
  margin: 50px auto 50px auto;
}
.navhover{
  color: #11999E;
}
.navhover:hover{
  color: #EAF6F6;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 150px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.mounten {
  padding-top: 120px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 400px;
}
.profile{
  width: 50%;
  margin: auto;
}
.intro{
  margin: auto;
  width: 75%;
  padding-bottom: 20px;
}
.profileimg{
  width:25%;
}
p{
  line-height: 2;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.skill-row{
  width: 50%;
  margin:50px auto 100px auto;
  text-align:left;
}
.codeimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.challengeimg{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-info{
  width:40%;
  margin:40px auto 60px auto;
}
.btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;

  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  text-align: center;
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}
